{% extends 'base.html' %}
{% load static %}

{% block content %}

</header>


<section class="login-page">
    <h2>Zmień dane</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}

        <div class="form-group form-group--buttons">
            <a href="/settings" class="btn btn--without-border">Anuluj</a>
            <button class="btn" type="submit">Zapisz dane</button>
        </div>
    </form>
</section>

{% endblock %}
