{% extends 'base.html' %}
{% load static %}

{% block content %}

</header>


<section class="login-page">
    <div class="slogan container container--90">
        <h2>
            Twój profil
        </h2>
        <br/>
        <h3 style="text-align: center; font-size: 18px"><span style="font-weight: 300">IMIĘ : </span> {{ current_user.first_name }} </h3>
        <h3 style="text-align: center; font-size: 18px"><span style="font-weight: 300">NAZWISKO : </span> {{ current_user.last_name }} </h3>
        <h3 style="text-align: center; font-size: 18px"><span style="font-weight: 300">EMAIL : </span> {{ current_user.username }} </h3>
    </div>
</section>

{% endblock %}
